
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
_div*
"*div*"

# Allure
/allure-results/
/allure-report/

# Performance Reports
/performance-results/

# Debug and Temporary Logs
*.log
debug_output*
debug-upload*
test-results/
screenshots/
videos/
*.pdf
/test-results/
/allure-report-temp/